<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【】对象关系映射 配置 
 @author AutoCode 940279663@qq.com
 @date 2019-08-09 11:35:57
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.shop.dao.admin.AdminDao">

	<resultMap id="adminResultMap" type="com.shop.entity.admin.Admin">
		<id property="id" column="id" />
       <result property="createdTime" column="created_time" />
       <result property="password" column="password" />
       <result property="username" column="username" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="adminResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="adminResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.shop.entity.admin.Admin" useGeneratedKeys="true" keyProperty="id" >
	   insert into admin (
	     id,
	     created_time,
	     password,
	     username
	   )values (
	     #{id},
	     #{createdTime},
	     #{password},
	     #{username}
	   )
	</insert>

	<update id="update" parameterType="com.shop.entity.admin.Admin">
		update admin
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="createdTime != null">
				created_time=#{createdTime},
			</if>
			<if test="password != null">
				password=#{password},
			</if>
			<if test="username != null">
				username=#{username},
			</if>
		</set>
		<where>
			id=#{id} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     admin 
	   where 
	    id=#{id} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="adminResultMap">
	   select 
	    id,
	    created_time,
	    password,
	    username
	   from admin
	   where 
	    id=#{id} 
	</select>


	<select id="selectByUserName" parameterType="map" resultMap="adminResultMap">
	   select
	    id,
	    created_time,
	    password,
	    username
	   from admin
	   where
	    1=1
		<if test="username != null">
			and username=#{username}
		</if>
	</select>

	
	<select id="selectObjectList" parameterType="map" resultMap="adminResultMap">
	   select 
	     id,
	     created_time,
	     password,
	     username
	   from admin
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="createdTime != null">
	        and created_time=#{createdTime}
	     </if>
	     <if test="password != null">
	        and password=#{password}
	     </if>
	     <if test="username != null">
	        and username=#{username}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    id,
	    created_time,
	    password,
	    username
	   from admin
	   where 
	    id=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     id,
	     created_time,
	     password,
	     username
	   from admin
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="createdTime != null">
	        and created_time=#{createdTime}
	     </if>
	     <if test="password != null">
	        and password=#{password}
	     </if>
	     <if test="username != null">
	        and username=#{username}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     id,
	     created_time,
	     password,
	     username
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from admin
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="createdTime != null">
	        and created_time=#{createdTime}
	     </if>
	     <if test="password != null">
	        and password=#{password}
	     </if>
	     <if test="username != null">
	        and username=#{username}
	     </if>
	   </where>
	</sql>

	
</mapper> 